{% extends "base.html.twig" %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
            <div class="input-group">
            <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
            <div class="input-group-text">€</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
